@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

html, body {
    background-color: #0a0a0a;
    color: white;
}

* {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
}

.box-theme {
    background-color: rgb(20, 20, 20) !important;
    border: 1px solid rgb(44, 44, 44) !important;
}
.log-theme {
    background-color: rgb(18, 18, 18) !important;
    border: 1px solid rgb(44, 44, 44) !important;
}

.error-code {
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

.input-theme {
    background-color: rgb(39, 39, 39) !important;
    border: 1px solid rgb(75, 73, 73) !important;
    color: white !important;
}
.input-theme::placeholder {
    color: grey !important;
    font-size: 13px;
    font-weight: 500;
}